body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    color: #000000;
}

.navbar-brand img {
    max-width: 150px;
}

.bg-light {
    background-color: #f8f9fa;
}
/* Efecto de sombra y zoom en las tarjetas */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05); /* Zoom suave */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Sombra */
}

.btn-primary, .btn-success {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

.card {
    border: none;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

footer {
    background-color: #212529;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #cccccc;
}
