/* Estilos globales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin-top: 56px;
}

.KKL {
    font-size: 2em; /* Tamaño grande pero no excesivo */
    color: #333; /* Color neutro y profesional */
    font-weight: 600; /* Negrita ligera */
    text-align: center; /* Centrado */
    padding-bottom: 10px; /* Espacio debajo del título */
    border-bottom: 3px solid #333;; /* Línea decorativa debajo */
    margin-bottom: 30px; /* Espaciado inferior */
    font-family: 'Roboto', sans-serif; /* Tipografía moderna y limpia */
    letter-spacing: 0.02em; /* Espaciado ligero entre letras */
}
h2 {
    color: #333;
}

/* Efecto de navegación */
.navbar {
    transition: background-color 0.3s ease;
}

.navbar-dark.bg-dark {
    background-color: #212529 !important;
}

.navbar-brand img {
    transition: transform 0.3s ease;
}

.navbar-brand img:hover {
    transform: scale(1.1);
}

/* Estilos de las tarjetas */
.card-container {
    perspective: 1000px;
}

.card {
    position: relative;
    width: 100%;
    height: 300px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    overflow: hidden;
    font-size: 24px; /* Aquí se agranda la letra */

}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
    transition: transform 0.6s ease-in-out; /* Mejora la suavidad del efecto */
}


.card-front, .card-back {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Unificar alturas */    backface-visibility: hidden;
    border-radius: 15px;
}

.card-front {
    background-color: #fff;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20px; /* Aquí se agranda la letra */

}

 .card-back {
    height: 300px;
    background-color: #007bff;
    color: #fff;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 24px; /* Aquí se agranda la letra */
}

.card-back h5 {
    margin-bottom: 15px;
}

.card-back ul {
    list-style: none;
    padding: 0;
}

.card-back ul li {
    margin-bottom: 10px;
}

.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-height: 180px;
    object-fit: cover;
}

/* Botones de contacto en el footer */
footer a.btn {
    margin-right: 10px;
    margin-top: 15px;
}

footer h1 {
    color: #ffdd57;
}

/* Secciones */
#servicios, #nos {
    background-color: #fff;
    padding: 60px 0;
}

#servicios h2, #nos h2 {
    color: ##333;;
}

#nos ul {
    padding-left: 20px;
}

#nos ul li {
    margin-bottom: 10px;
}

/* Estilos para imágenes en "nuestros beneficios" */
#servicios img {
    transition: transform 0.3s ease;
}

#servicios img:hover {
    transform: scale(1.1);
}

/* Footer */
footer {
    background-color: #212529;
}

footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer p {
    color: #fff;
}
